.container {
    width: 1000px;
    height: 540px;
    background-color: RED;
}

.row1 {
    width: 1000px;
    height: 100px;
    background-color: tan;
}

.row2 {
    width: 1000px;
    height: 40px;
    background-color: black;
}

.item {
    width: 200px;
    height: 40px;
    float: left;
    text-align: center;

}

.row3 {
    width: 1000px;
    height: 350px;
    background-color: blue;
}

.r3col1 {
    width: 250px;
    height: 200px;
    background-color: black;
    float: left;
}

.r3col2 {
    width: 750px;
    height: 200px;
    background-color: darkmagenta;
    float: left;
}

.r3item {
    width: 250px;
    height: 40px;
}