body {
  background-color: black;
  color: white;
}

.input-group {
  width: 700px;
  margin: 16px auto;

}

.card {
  height: 350px;
  box-shadow: rgb(38, 57, 77) 4px 20px 30px 10px;
  border: none;
  padding: 2px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.rating {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background-color: teal;
  padding:2px 10px;
  color: white;
  border-radius: 10px;
}